*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.loader{
    width: 108px;
    height: 108px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    margin: 2px;
    width: 50px;
    height: 50px;
}
.redbox{
    background: crimson;
    animation: animate 2s 0.5s linear infinite;
}
.bluebox{
    background-color: cornflowerblue;
    animation: animate 2s 1s linear infinite;
}
@keyframes animate {
    0%,100%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(-180deg);
    }
}